<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hi</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Datei auswählen:</label>
        <input type="file" id="file" name="file">
        <input type="text" id="text" name="text">
        <input type="submit" value="Upload">


    </form>
    
</body>
</html>