<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    
    <title>Hobby | Upload</title>
    
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>

  </style>
</head>

<body>
	<header>
		<div class="cl-abup">
			<div class="cl-abbruch">
				<button class="cl-ab-button" onclick="history.back()">
					X
				</button>
			</div>
			
			<div class="cl-upload">
				<button type="submite" class="cl-up-button" form="id-form">
					Upload
				</button>
			</div>
		</div>
	</header>

	<article>
		<div class="cl-inhalt">
			<div class="cl-titel">
				<form method="post" enctype="multipart/form-data" id="id-form">
                    {% csrf_token %}
                    <input type="text" id="titel" name="titel" placeholder="Titel" required>
			</div>
			
			
                <div class="cl-bivi">
                    <label for="datei">Datei hinzufügen:</label>
                    <input type="file" id="iddatei" name="file"> 
                </div>
                
                
                <div class="cl-tag">
					<label for="hobbies">Wähle ein Hobby:</label>
					<select id="tag" name="tag">
						<option value="angeln" name="filter">Angeln</option>
						<option value="anime_schauen" name="filter">Anime schauen</option>
						<option value="antiquitaeten_sammeln" name="filter">Antiquitäten sammeln</option>
						<option value="astronomie_sternbeobachtung" name="filter">Astronomie/Sternbeobachtung</option>
						<option value="autogramme_sammeln" name="filter">Autogramme sammeln</option>
						<option value="autoreparaturen" name="filter">Autoreparaturen</option>
						<option value="backen" name="filter">Backen</option>
						<option value="badminton_spielen" name="filter">Badminton spielen</option>
						<option value="basketball_spielen" name="filter">Basketball spielen</option>
						<option value="bierbrauen" name="filter">Bierbrauen</option>
						<option value="blogs_schreiben" name="filter">Blogs schreiben</option>
						<option value="bogenschiessen" name="filter">Bogenschießen</option>
						<option value="brettspiele_spielen" name="filter">Brettspiele spielen</option>
						<option value="camping" name="filter">Camping</option>
						<option value="comics_mangas_lesen" name="filter">Comics/Mangas lesen</option>
						<option value="computerprogrammierung" name="filter">Computerprogrammierung</option>
						<option value="drohnen_fliegen" name="filter">Drohnen fliegen</option>
						<option value="e_sport" name="filter">E-Sport</option>
						<option value="elektronik_basteln" name="filter">Elektronik basteln</option>
						<option value="fantasy_sport" name="filter">Fantasy-Sport</option>
						<option value="filme_schauen" name="filter">Filme schauen</option>
						<option value="fitnessstudio_besuchen" name="filter">Fitnessstudio besuchen</option>
						<option value="fotografieren" name="filter">Fotografieren</option>
						<option value="freiwilligenarbeit" name="filter">Freiwilligenarbeit</option>
						<option value="fussball_spielen" name="filter">Fußball spielen</option>
						<option value="gamen_videospiele_spielen" name="filter">Gamen/Videospiele spielen</option>
						<option value="gartenarbeit" name="filter">Gartenarbeit</option>
						<option value="gaertnern" name="filter">Gärtnern</option>
						<option value="genealogie_familienforschung" name="filter">Genealogie/Familienforschung</option>
						<option value="geocaching" name="filter">Geocaching</option>
						<option value="golf" name="filter">Golf</option>
						<option value="grillen" name="filter">Grillen</option>
						<option value="haekeln" name="filter">Häkeln</option>
						<option value="heimwerken" name="filter">Heimwerken</option>
						<option value="historische_reenactments" name="filter">Historische Reenactments</option>
						<option value="holzarbeiten" name="filter">Holzarbeiten</option>
						<option value="jagen" name="filter">Jagen</option>
						<option value="kajakfahren" name="filter">Kajakfahren</option>
						<option value="kampfsport" name="filter">Kampfsport (z.B. Karate, Judo)</option>
						<option value="kanufahren" name="filter">Kanufahren</option>
						<option value="kitesurfen" name="filter">Kitesurfen</option>
						<option value="klettern_bouldern" name="filter">Klettern/Bouldern</option>
						<option value="kochen" name="filter">Kochen</option>
						<option value="konzertbesuche" name="filter">Konzertbesuche</option>
						<option value="larp" name="filter">LARP (Live Action Role-Playing)</option>
						<option value="laufen_joggen" name="filter">Laufen/Joggen</option>
						<option value="lesen" name="filter">Lesen</option>
						<option value="malen_zeichnen" name="filter">Malen/Zeichnen</option>
						<option value="meditation" name="filter">Meditation</option>
						<option value="metallarbeiten" name="filter">Metallarbeiten</option>
						<option value="modellautos_sammeln" name="filter">Modellautos sammeln</option>
						<option value="modelleisenbahnen" name="filter">Modelleisenbahnen</option>
						<option value="modellbau" name="filter">Modellbau</option>
						<option value="motorradfahren" name="filter">Motorradfahren</option>
						<option value="muenzen_sammeln" name="filter">Münzen sammeln</option>
						<option value="museumsbesuche" name="filter">Museumsbesuche</option>
						<option value="naehen" name="filter">Nähen</option>
						<option value="nordic_walking" name="filter">Nordic Walking</option>
						<option value="puzzeln" name="filter">Puzzeln</option>
						<option value="radfahren" name="filter">Radfahren</option>
						<option value="reisen" name="filter">Reisen</option>
						<option value="reiten" name="filter">Reiten</option>
						<option value="schiessen" name="filter">Schießen</option>
						<option value="schmuckherstellung" name="filter">Schmuckherstellung</option>
						<option value="schreiben" name="filter">Schreiben</option>
						<option value="schwimmen" name="filter">Schwimmen</option>
						<option value="segeln" name="filter">Segeln</option>
						<option value="serien_tv_schauen" name="filter">Serien/TV schauen</option>
						<option value="skifahren" name="filter">Skifahren</option>
						<option value="singen" name="filter">Singen</option>
						<option value="snowboarden" name="filter">Snowboarden</option>
						<option value="sprachen_lernen" name="filter">Sprachen lernen</option>
						<option value="stricken" name="filter">Stricken</option>
						<option value="surfen" name="filter">Surfen</option>
						<option value="tanzen" name="filter">Tanzen</option>
						<option value="tennis_spielen" name="filter">Tennis spielen</option>
						<option value="theater_besuchen" name="filter">Theater besuchen</option>
						<option value="tischtennis_spielen" name="filter">Tischtennis spielen</option>
						<option value="toepfern" name="filter">Töpfern</option>
						<option value="vogelbeobachtung" name="filter">Vogelbeobachtung</option>
						<option value="volleyball_spielen" name="filter">Volleyball spielen</option>
						<option value="weinverkostung" name="filter">Weinverkostung</option>
						<option value="whiskyverkostung" name="filter">Whiskyverkostung</option>
					</div>




                
            <div class="cl-text">
                    <textarea id="text" name="text" placeholder="Schreibe etwas.."></textarea>
                </form>
            </div>
	</article>

	<footer>
		<div class="cl-nav">
			<div class="nav" id="id-home">
				<a href="upload.html" class="nav-link">
					Home-Seite
				</a>
			</div>
			
			<div class="nav" id="id-upload">
				<a href="upload.html" class="nav-link">
					Upload-Seite
				</a>
			</div>
			
			<div class="nav" id="id-profil">
				<a href="upload.html" class="nav-link">
					Profil-Seite
				</a>
			</div>
		</div>
	</footer>
</body>
